* {
  box-sizing: border-box;
}


body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: rgb(0, 229, 255);
  margin: 0;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/829037a9-cff2-473d-b9a9-a59ec9e2d6de/d5rbmoq-7e75aec9-4db8-4b01-b0e0-b4def915b273.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 75px;
  
}

.splash {
  position:absolute;
  border: 1px solid rgb(0,229,255);
  background-color: black;
  height: 50%;
  width: 50%;
  text-align: center;
  font-size: 40px;
  display: block;
}

.splash button {
  font-size: 30px;
  height: 20%;
  width: 50%;
}

header section {
  display: flex;
  justify-content: center;
}

img {
  width: 70%;
  object-fit: cover;
  height: 100px;
}

main {
  flex-direction: column;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  text-align: center;
}

button {
  margin: 10px;
  border: 1px solid rgb(0, 229, 255);
  color: rgb(0, 229, 255);
  background-color: black;
}

span, h3 {
  font-family: "Geneva";
}


.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  width: 700px;
  height: 700px;
  background-color: black;
}

.grid div {
  border: 1px solid rgb(0, 72, 80);
}

.grid .snake1 {
  /* background-color: rgb(255, 215, 129); */
  background-color: rgb(24, 149, 244);
}

.grid .snake1Head {
  /* background-color: rgb(255, 166, 0); */
  background-color: rgb(0, 81, 255);
}

.grid .snake2 {
  background-color: rgb(255, 215, 129);
  /* background-color: rgb(24, 149, 244); */
}

.grid .snake2Head {
  background-color: rgb(255, 166, 0);
  /* background-color: rgb(0, 81, 255); */
}

.goal1 {
  /* background-image: url('https://www.clipartmax.com/png/middle/284-2847580_my-identity-disc-by-avatarraptor-tron-legacy-disc-png.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; */
  background-color: rgb(31, 132, 255);
  /* background-color: rgb(255, 153, 0); */
}

.goal2 {
  background-color: rgb(255, 196, 0);
}

.limit {
  background-color: rgb(0, 229, 255);
}

.grid .portal1 {
  background-color: rgb(0, 136, 255);
}

.grid .portal2 {
  background-color: rgb(255, 203, 31);
}

footer {
  margin: 20px;
}